:root {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #192734;
    color: azure;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =============== INPUT SCREEN =============== */



/* =============== GAME TRACKING =============== */
.back-button, .next-button {
    position: absolute;
    z-index: 10; /* ensures button appears over the top of long names (todo: limit max width of banner) */
    pointer-events: auto; /* allows absolutely positioned button to be clicked */
    font-size: 32px;
    padding: 4px 8px;
    cursor: pointer;
    border: 1px solid white;
    fill: white;
}

.next-button {
    right: 0;
}

.players-container {
    display: flex;
    position: relative;
    min-height: 100vh;
}

.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* gap: 32px; */
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    
    margin: auto;
    height: 300px;
    width: 500px;
}

.modal-header {
    text-align: center;
    font-size: 50px;
    /* margin-bottom: 32px; */
}

.modal-buttons {
    display: flex;
    gap: 32px;
}

.modal-button {
    font-size: 32px;
    padding: 8px 64px;
    cursor: pointer;
    border: 1px solid white;
}

.player-one, .player-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    list-style-type: none;
}

.player-one {
    border-right: 6px solid black;
}

.player-details {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 55vh;
    width: 100%;
}

.player-one-banner, .player-two-banner {
    display: flex;
    position: absolute;
    top: 0;
    border: 2px solid white;
}

.player-one-banner {
    right: -3px;
}

.player-two-banner {
    left: -3px;
}

.player-one-name, .player-two-name {
    font-size: 60px;
    min-width: 250px;
    padding: 5px 30px;
    text-align: center;
    background-color: #192734;
}

.player-one-name {
    border-right: 1px solid white;
}

.player-two-name {
    border-left: 1px solid white;
}

.player-team-one, .player-team-two {
    height: inherit;
    width: 50px;
}

.winner-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding-top: 3em;
}

.winner-name {
    font-size: 48px;
}

.view-score-btn {
    border: none;
    font-size: 24px;
    padding: 6px 12px;
    cursor: pointer;
    border: 1px solid black;
    background-color: white;
}

.player-points {
    font-size: 216px;
    align-items: center;
    display: flex;
    gap: 20px;
    padding-top: 80px;
}

.score-minus, .score-plus {
    font-size: 120px;
    cursor: pointer;
}

.score-minus {
    padding: 0 17px;
}

.recent-points {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 16px 24px;
    width: fit-content;
}

.point-circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: grey;
    border: 1px solid white;
}

.point-won {
    background-color: green;
}

.point-lost {
    background-color: red;
}

.heart-rate-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
    width: 100%;
    border-top: 6px solid black;
}

.player-heart-rate {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    width: 100%;
    padding: 30px 0;
}

.heart-rate-stats {
    display: flex;
    gap: 1em;
}

.hr-absolute {
    display: flex;
}

.hr-extremities {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.player-max-heart-rate, .player-min-heart-rate {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    font-size: 28px;
}

.hr-max-icon, .hr-min-icon {
    fill: white;
}

.heart-rate-icon {
    fill: white;
    height: 100px;
    aspect-ratio: 1;
    margin: 40px 0 0;
    animation: beat 0.5s infinite alternate; /* vary beat with heart rate */
    transform-origin: center;
}

@keyframes beat {
    to { 
        transform: scale(1.4); /* vary scale with heart rate */
    }
}

.device-status {
    position: absolute;
    bottom: 0;
    left: 2%;
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
    background-color: #192734;
    padding: 4px 8px;
}

.device-status-circle {
    height: 16px;
    width: 16px;
    background-color:white;
}

.device-status-text {
    font-size: 16px;
}

.bluetooth-initial-buttons {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}

.bluetooth-connect-btn, .use-mock-data-btn {
    border: none;
    font-size: 48px;
    padding: 16px 32px;
    cursor: pointer;
    border: 1px solid white;
    background-color: #192734;
    color: white;
}

.bluetooth-buttons {
    display: flex;
}

.bluetooth-disconnect-btn, .bluetooth-reconnect-btn {
    border: none;
    font-size: 24px;
    padding: 8px 16px;
    cursor: pointer;
    border: 1px solid white;
    background-color: #192734;
    color: white;
}


/* =============== RESULTS =============== */
.results-page {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.title-text {
    font-size: 100px;
    text-align: center;
    color: white;
    /* background-color: aqua; */
}

#results-graph {
    background-color: grey;
    height: 700px;
    width: 90%;
}