:root {
    font-family: 'Inter', Arial, sans-serif;
    background-color: #192734;
    color: azure;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: unset;
    text-decoration: none;
}


/* =============== NAVIGATION =============== */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    /* background-color: darkslategray; */
    border-bottom: 2px solid white;
    padding: 10px;
    /* margin-bottom: 1rem; */
}

.nav-title {
    font-size: 2rem;
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style-type: none;
}

.nav-link {
    padding: 2px 10px;
    border: 1px solid white;
}

.nav-auth-button {
    font-size: 1.4rem;
    padding: 2px 10px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.back-button, .next-button {
    position: absolute;
    top: 0;
    z-index: 10; /* ensures button appears over the top of long names (todo: limit max width of banner) */
    pointer-events: auto; /* allows absolutely positioned button to be clicked */
    font-size: 32px;
    padding: 4px 8px;
    cursor: pointer;
    border: 1px solid white;
    fill: white;
}

.back-button {
    left: 0;
}

.next-button {
    right: 0;
}


/* =============== HOME SCREEN =============== */
.home-title {
    text-align: center;
    margin: 2rem 0;
}

.home-links {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin: 2rem 0;
}


/* =============== INPUT SCREEN =============== */
.match-creation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 94vh;
}

.sport-selection-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 2rem auto;
}

.sport-options {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}
  
.sport-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    border: 2px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
}
  
.sport-item.selected {
    border-color: #007bff;
}

.player-selection-group {
    display: flex;
    gap: 1rem;
    margin: 2rem auto;
}

.player-inputs {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: 2px solid #ccc;
    border-radius: 8px;
}

.label-input-group {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.text-input, .number-input {
    padding: 2px 4px;
}

.text-input {
    width: 150px;
}

.number-input {
    width: 100px;
}

.colour-input {
    width: 100px;
    height: 24px;
    border: 1px solid white;
}

.add-player-button {
    font-size: 1.2rem;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.add-player-button:disabled {
    color: #ccc;
    border-color: #ccc;
    background-color: transparent;
    cursor: default;
}

.player-list-info {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 1rem;
    border: 2px solid #ccc;
    border-radius: 8px;
}

.player-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
}

.player-group {
    display: flex;
    /* gap: 0.5rem; */
    flex-direction: column;
    justify-content: space-between;
    height: 46%;
    padding: 0.5rem 1rem;
    border: 2px solid #ccc;
    border-radius: 8px;
}

.player-text-colour {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}

.colour-box {
    width: 20px;
    aspect-ratio: 1;
    border: 1px solid #ccc;
}

.player-actions {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.player-action-button {
    padding: 3px 6px;
}

.match-start-button {
    font-size: 1.5rem;
    color: white;
    padding: 1rem;
    background-color: #007bff;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
}


/* =============== AUTHENTICATION SCREEN =============== */
.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    height: 70vh;
    margin: 0 auto;
}

.auth-heading {
    font-size: 3rem;
}

.auth-form {
    display: flex;
    flex-direction: column;
}

.auth-toggle {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
}

.auth-button {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1rem;
}


/* =============== SCORES SCREEN =============== */
.score-tracking-container {
    display: flex;
    position: relative;
    min-height: 94vh;
}

.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* gap: 32px; */
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 300px;
    width: 500px;
}

.modal-header {
    text-align: center;
    font-size: 36px;
    /* margin-bottom: 32px; */
}

.modal-buttons {
    display: flex;
    gap: 32px;
}

.modal-button {
    font-size: 32px;
    padding: 8px 64px;
    cursor: pointer;
    border: 1px solid white;
}

.export-modal-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    border: 2px solid white;
}

.export-checkbox {
    display: flex;
    gap: 2rem;
    align-items: center;
    width: 200px;
}

.player-one, .player-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    list-style-type: none;
}

.player-one {
    border-right: 6px solid black;
}

.player-details {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 50vh;
    width: 100%;
}

.player-one-banner, .player-two-banner {
    display: flex;
    position: absolute;
    top: 0;
    border: 2px solid white;
}

.player-one-banner {
    right: -3px;
}

.player-two-banner {
    left: -3px;
}

.player-one-name, .player-two-name {
    font-size: 60px;
    min-width: 250px;
    padding: 5px 30px;
    text-align: center;
    background-color: #192734;
}

.player-one-name {
    border-right: 1px solid white;
}

.player-two-name {
    border-left: 1px solid white;
}

.player-team-one, .player-team-two {
    height: inherit;
    width: 50px;
}

.start-game-btn {
    font-size: 48px;
    padding: 16px 32px;
    cursor: pointer;
    border: 1px solid black;
    background-color: white;
    color: #192734;
}

.winner-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding-top: 3em;
}

.winner-name {
    font-size: 48px;
}

.post-match-buttons {
    display: flex;
    gap: 1em;
}

.post-match-btn {
    font-size: 24px;
    padding: 6px 12px;
    cursor: pointer;
    border: 1px solid black;
    background-color: white;
}

.score-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-points {
    font-size: 216px; /* vary with viewport */ 
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    margin-top: 80px;  /* vary with viewport height */
}

.score-minus, .score-plus {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 120px;
    width: 100px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

.score-minus:disabled, .score-plus:disabled {
    border: 2px solid gray;
    color: gray;
}

.score-value {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0 10px;
    width: 288px;  /* vary with viewport */
}

.recent-points {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 16px 24px;
    width: fit-content;
}

.point-circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: grey;
    border: 1px solid white;
}

.point-won {
    background-color: green;
}

.point-lost {
    background-color: red;
}

.post-match-buttons {}

.heart-rate-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44vh;
    width: 100%;
    border-top: 6px solid black;
}

.player-heart-rate {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    width: 100%;
    padding: 30px 0;
}

.heart-rate-stats {
    display: flex;
    gap: 1em;
}

.hr-absolute {
    display: flex;
}

.hr-extremities {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.player-max-heart-rate, .player-min-heart-rate {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    font-size: 28px;
}

.hr-max-icon, .hr-min-icon {
    fill: white;
}

.heart-rate-icon {
    fill: white;
    height: 100px;
    aspect-ratio: 1;
    margin: 40px 0 0;
    animation: beat 0.5s infinite alternate; /* vary beat with heart rate */
    transform-origin: center;
}

@keyframes beat {
    to { 
        transform: scale(1.4); /* vary scale with heart rate */
    }
}

.device-status {
    position: absolute;
    bottom: 0;
    left: 2%;
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
    background-color: #192734;
    padding: 4px 8px;
}

.device-status-circle {
    height: 16px;
    width: 16px;
    background-color:white;
}

.device-status-text, .device-battery-label, .device-battery-value {
    font-size: 16px;
}

.device-battery {
    position: absolute;
    bottom: 0;
    right: 2%;
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
    background-color: #192734;
    padding: 4px 8px;
}

.battery-icon {
    fill: white;
}

.vertical-buttons {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.bluetooth-connect-btn, .use-mock-data-btn {
    font-size: 48px;
    padding: 16px 32px;
    cursor: pointer;
    border: 1px solid white;
    background-color: #192734;
    color: white;
}

.bluetooth-buttons {
    display: flex;
}

.bluetooth-disconnect-btn, .bluetooth-reconnect-btn {
    font-size: 24px;
    padding: 8px 16px;
    cursor: pointer;
    border: 1px solid white;
    background-color: #192734;
    color: white;
}


/* =============== RESULTS =============== */
.results-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 94vh;
}

.title-text {
    font-size: 48px;
    text-align: center;
    color: white;
    margin-bottom: 0.5rem;
}

.results-graph {
    height: 750px; /* TODO: make graph fully responsive */
}


/* =============== DASHBOARD =============== */
.dashboard-container {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;
    min-height: 94vh;
    /* border: 2px solid white; */
    width: 100%;
    margin-bottom: 1rem;
}

.match-list {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 0 1rem 1rem;
}

.match-overview-card {
    border: 1px solid white;
    padding: 15px;
    border-radius: 10px;
    width: 500px;
}

.players-card-title{
    margin: 10px 0 5px;
}

.players {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border: 1px solid white; */
}

.player-info {
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    background-color: #80192734;
}


.testing-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.block-row-container {
    display: flex;
    gap: 1em;
}

.dashboard-test-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* min-width: 50%; */
    width: fit-content;
    /* height: 250px; */
    border: 2px solid white;
}

.block-title {
    font-size: 24px;
    text-align: center;
    margin: 0.5rem;
}

.block-button {
    font-size: 24px;
    width: fit-content;
    padding: 8px 16px;
    cursor: pointer;
    border: 1px solid white;
    background-color: grey;
    color: #192734;
}

.players-table {
    font-size: 16px;
    text-align: center;
}

.table-headers, .table-data {
    padding: 5px 10px;
}

.player-inputs {
    display: flex;
    flex-direction: column;
}