:root {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
  }
  
  body {
    background-color: #192734;
    color: azure;
    margin: 0;
    padding: 0;
  }
  
  ul {
    margin: 0;
    padding-left: 0;
  }
  
  .back-button {
    position: absolute;
    pointer-events: auto; /* allows absolutely positioned button to be clicked */
    font-size: 32px;
    padding: 4px 8px;
    cursor: pointer;
    background-color: rebeccapurple;
    border: none;
    fill: white;
  }

  

  .players-container {
    display: flex;
    position: relative;
    min-height: 100vh;
  }
  
  .player-one, .player-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    list-style-type: none;
  }
  
  .player-one {
    /* background-color: blue; */
    border-right: 6px solid black;
  }
  
  .player-two {
    /* background-color: red; */
  }

  .player-details {
    display: flex;
    flex-direction: column;
    gap: 5em;
    /* justify-content: center; */
    align-items: center;
    height: 60vh;
  }

  .player-banner {
    display: flex;
    gap: 1em;
  }
  
  .player-name {
    font-size: 80px;
    width: 300px;
    text-align: center;
    background-color: black;
  }

  .player-team-one {
    height: inherit;
    width: 50px;
  }

  .player-team-two {
    height: inherit;
    width: 50px;
  }
  
  .player-points {
    font-size: 216px;
    align-items: center;
    display: flex;
    gap: 20px;
  }

  .score-control {
    font-size: 120px;
    cursor: pointer;
  }
  
  .player-heart-rate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 6px solid black;
    font-size: 100px;
    width: 100%;
    height: 40vh;
    padding: 30px 0;
  }

  .heart-rate-stats {
    display: flex;
    gap: 1em;
  }

  .heart-rate-icon {
    fill: white;
    height: 120px;
    aspect-ratio: 1;
    margin: 40px 0;
    animation: beat 0.5s infinite alternate; /* vary beat with heart rate */
    transform-origin: center;
  }

  @keyframes beat {
    to { 
      transform: scale(1.4); /* vary scale with heart rate */
    }
  }
  
  .player-serving {
    font-size: 24px;
    padding-top: 48px;
  }
  
  .match-progress, .recent-points {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 50px;
    background-color: rebeccapurple;
    justify-content: center;
    align-items: center;
  }
  
  .match-progress {
    top: 0;
    width: fit-content;
    padding: 5px 10px;
    font-size: 48px;
  }
  
  .recent-points {
    bottom: 0;
    width: 200px;
  }